# Unity caches 
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/

# IDE/OS
.vs/
.vscode/
.DS_Store
*.csproj
*.sln
*.user
*.pidb
*.pdb
*.apk
*.aab


Assets/Imports/

# Optional big transient files (skip if you DO want them in Git)
*.zip
*.rar
*.7z


/DevBuild-*/
/Build/
/Builds/
*_Data/
*.resS
*.apk
*.aab
*.exe

